asgiref==3.5.0
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.10
colorclass==2.2.2
cryptography==36.0.1
defusedxml==0.7.1
diff-match-patch==20200713
Django==4.0.1
django-environ==0.8.1
django-filter==21.1
django-import-export==2.7.1
djangorestframework==3.13.1
djangorestframework-simplejwt==5.0.0
docopt==0.6.2
drf-extra-fields==3.2.1
et-xmlfile==1.1.0
flake8==4.0.1
idna==3.3
importlib-metadata==4.10.1
isort==5.10.1
Jinja2==3.0.3
MarkupPy==1.14
MarkupSafe==2.0.1
mccabe==0.7.0
oauthlib==3.1.1
odfpy==1.4.1
openpyxl==3.0.9
packaging==21.3
Pillow==9.0.0
pip-upgrader==1.4.15
psycopg2-binary==2.9.3
pycodestyle==2.8.0
pycparser==2.21
pyflakes==2.4.0
PyJWT==2.3.0
pyparsing==3.0.7
python-dotenv==0.19.2
python3-openid==3.2.0
pytz==2021.3
PyYAML==6.0
reportlab==3.6.6
requests==2.27.1
requests-oauthlib==1.3.0
social-auth-app-django==5.0.0
social-auth-core==4.2.0
sqlparse==0.4.2
tablib==3.1.0
terminaltables==3.1.10
typing-extensions==4.0.1
tzdata==2021.5
uritemplate==4.1.1
urllib3==1.26.8
xlrd==2.0.1
xlwt==1.3.0
zipp==3.7.0
